<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="portfolios.scss" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Amiri|Noto+Serif+JP&display=swap" rel="stylesheet">
    <!-- JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <title>portfolio</title>
  </head>
<!-- ----------------------------------------------------- -->
  <body>
    <div class="wrapper">
<!-- ----------------------------------------------------- -->
      <header>
        <div class="top__move__header">
          <div class="header__link font">
            <span></span>
            <div class="header__link__item">
              <a href="#TOP">
                <p>TOP</p>
              </a>
            </div>
            <span></span>
            <div class="header__link__item">
              <a href="#profile">
                <p>PROFILE</p>
              </a>
            </div>
            <span></span>
            <div class="header__link__item">
              <a href="#SKILL">
                <p>SKILL</p>
              </a>
            </div>
            <span></span>
            <div class="header__link__item">
              <a href="#PORTFOLIO">
                <p>PORTFOLIO</p>
              </a>
            </div>
            <span></span>
            <div class="header__link__item">
              <a href="mailto:da1suke.haseee@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
                <p>CONTACT</p>
              </a>
            </div>
            <span></span>
          </div>
        </div>
      </header>
<!-- ----------------------------------------------------- -->
      <a id="TOP"></a>
      <div class="top-wrapper">
        <img src="/images/top_image.jpg">
        <div class="top__section__text font">
          <h1>PORTFOLIO</h1>
          <p>DAISUKE HASEGAWA</p>
        </div>
      </div>
<!-- ----------------------------------------------------- -->
      <a id="profile"></a>
      <div class="introductio-wrapper font">
        <a  name="profile"></a>
        <h2 class="wrapper-title">PROFILE</h2>
        <div class="profile">
          <div class="profile__text-jp">
            <h3>長谷川 大輔</h3>
            <p>１９９３年（平成５）生まれ ２６歳</p>
            <p>大阪府出身</p>
            <p>工業高校卒。紡績工場で開発として７年間勤務</p>
            <p>退職後、名古屋のプログラミングスクールにて</p>
            <p>プログラミング言語を学習しました。</p>
            <p>趣味は、カメラとソフトテニスです</p>
          </div>
          <div class="profile__box">
            <div class="profile__box__image">
              <img src="/images/profile.JPG" alt="">
            </div>
            <div class="profile__box__text-eng">
              <h3>DAISUKE HASEGAWA</h3>
              <p>Born in 1993  26 years old</p>
              <p>From Osaka </p>
              <p>Graduated from technical high school.</p>
              <p>Worked at a spinning factory for seven years as a developer</p>
              <p>After retirement, learn programming languages ​​at a</p>
              <p>programming school in Nagoya</p>
              <p>My hobbies are camera and soft tennis</p>
            </div>
          </div>
        </div>
      </div>
<!-- ----------------------------------------------------- -->
      <a id="SKILL"></a>
      <div class="proguramming-wrapper font">
        <div class="proguramming">
          <div class="proguramming__image">
            <img src="/images/proguramming.jpg" alt="">
          </div>
          <div class="proguramming__text">
            <div class="proguramming__text__jp">
              <h3>備　考</h3>
              <p>希望勤務地：大阪（関西）・東京</p>
              <p>希望職種　：コーダー・フロントエンジニア</p>
              <p>エンジニアになる為</p>
              <p>HTML、CSS、javascript、rubyなどを</p>
              <p>学習しながら転職活動をしております。</p>
            </div>
            <div class="proguramming__text__eng">
              <h3>Remarks</h3>
              <p>Work location：Osaka(Kansai region)・Tokyo</p>
              <p>Desired job：Coder・Front engineer</p>
              <p>Currently, I am working on a career change</p>
              <p>while learning HTML, CSS, javascript, ruby, etc.</p>
            </div>
          </div>
        </div>
        <div class="skill">
          <div class="skill__title">
            プログラミングスクール<br>学習内容一覧
          </div>
          <ul class="skill__box">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>haml</li>
            <li>Sass</li>
            <li>Ruby</li>
            <li>Rails</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>GitHub</li>
            <li>AWS</li>
          </ul>
        </div>
      </div>
<!-- ----------------------------------------------------- -->
      <a id="PORTFOLIO"></a>
      <div class="portfolio-wrapper font">
        <h2 class="wrapper-title">PORTFOLIO</h2>
        <div class="portfolio">
          <a class="portfolio__box" href="" target="_blank">
            <img src="/images/portfolio.png" alt="">
            <div class="portfolio__box__text">
              <h3>2020.02.03</h3>
              <h3>PORTFOLIO</h3>
              <p>自分自身のポートフォリオサイトです</p>
            </div>
          </a>
          <a class="portfolio__box" href="https://photo--exhibition.herokuapp.com/" target="_blank">
            <img src="/images/PHOTO EXHIBITION.png" alt="">
            <div class="portfolio__box__text">
              <h3>2019.12.06</h3>
              <h3>PHOTO EXHIBITION（写真投稿アプリ）</h3>
              <p>ユーザー登録・ログイン・ログアウト・写真投稿 機能の実装</p>
            </div>
          </a>
        </div>
      </div>
<!-- ----------------------------------------------------- -->
      <footer class="footer font">
        <h2>お気軽にご連絡お待ちしております</h2>
        <p>Please feel free to contact us</p>
        <div class="fotter__sns">
          <a href="https://www.instagram.com/" target="_blank">
            <img src="/svg-icons/instagram-brands.svg" alt="" height="20px">
          </a>
          <a href="https://www.facebook.com/" target="_blank">
            <img src="/svg-icons/facebook-f-brands.svg" alt="" height="20px">
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <img src="/svg-icons/twitter-brands.svg" alt="" height="20px">
          </a>
        </div>
        <small>
          ©
          <span class="js-year">2020</span>
          DAISUKE HASEGAWA PORTFOLIO
        </small>
      </footer>
<!-- ----------------------------------------------------- -->
    </div>
  </body>
</html>